.statistics {
width: 300px;
border: 1px solid grey;
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
background-color: white;
}

.stat_title {
margin: 30px 75px 30px 75px;
font-size: 20px;
text-transform: uppercase;
}

.stat_statlist{
list-style: none;
display: flex;
}

.stat_item{
height: 60px;
width: 65px;
box-sizing: border-box;
border: 0;
}

.stat_item:first-child {
    background-color: rgb(110, 179, 211);
}

.stat_item:nth-child(2) {
    background-color: rgb(109, 244, 125);
}

.stat_item:nth-child(3) {
    background-color: rgb(255, 110, 139);
}

.stat_item:nth-child(4) {
    background-color: rgb(255, 183, 101);
}

.stat_item:last-child {
    background-color: rgb(234, 255, 72);
}

.stat_label{
font-size: 14px;
margin-top: 8px;
margin-bottom: 8px;
}

.stat_percentage{
font-size: 14px;
margin-bottom: 10px;
}